{% extends 'base.html' %}


    {% block content %}

     <main class="container">
         <div class="row">
            <div class="col-md-4 offset-md-4">                
              <h1>{{ task.title }}</h1>
                {{error}}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Guardar Cambios</button>
                </form>

                <form action="{% url 'complete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary mt-3">Marcar como Completada</button>
                </form>

                <form action="{% url 'delete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger mt-3">Eliminar Tarea</button>
                </form>
            </div>
         </div>
     </main>
 

    {% endblock %}